@charset "utf-8";
/* CSS Document */
.header{border-bottom: 1px solid #e5e5e5;}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
	padding-bottom: 5px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.footer{border-top: 1px solid #e5e5e5;
padding-top: 20px;
margin-top: 30px;}
.text-muted{padding-top: 12px;}

.bs-callout {
padding: 10px 10px 10px 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}
.bs-callout-info {
border-left-color:#1C67AC;
}
.caption h3{margin-top:5px;}
.caption table{ margin-bottom:5px;}
.cap_title{ margin-bottom:5px;}

.tab_zone{ margin-top:20px;}
.pagination.total_num{margin: 0 0;}

.p_table td{ text-align:center; line-height:30px; height:30px;width:20%;}
.p_table tbody tr:nth-child(odd) td{ background:#efefef;}
.well{ height:500px; overflow-y:scroll;}
.dialog{ position:absolute; top:0;left:0;z-index:9999;}
.mask{opacity:0.7;background:#000; position:absolute; }
.dia_zone{display: block;
padding: 10px;
margin: 50px 0 10px;
font-size: 13px;
line-height: 20px;
background-color: #f5f5f5;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.15);
-webkit-border-radius: 4px; position:absolute;
-moz-border-radius: 4px;
border-radius: 4px; width:600px; z-index:99999; }
.close{ display: block;
position: absolute;
right: -14px;
top: 16px;
width: 50px;
height: 30px;
background: url(../images/close.png) no-repeat;}
.dia_zone table{ display:table; width:100%;}
.dia_zone table tbody{ display:block;width:100%;}
.dia_zone table td{width:200px;  text-align:center;}


