@charset "utf-8";
/* CSS Document */
.header{border-bottom: 1px solid #e5e5e5;}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
	padding-bottom: 5px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.footer{border-top: 1px solid #e5e5e5;
padding-top: 20px;
margin-top: 30px;}
.text-muted{padding-top: 12px;}

.bs-callout {
padding: 10px 10px 10px 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}
.bs-callout-info {
border-left-color:#1C67AC;
}
text[text-anchor="end"]{display:block;}