@charset "utf-8";
/* CSS Document */
.header{border-bottom: 1px solid #e5e5e5;}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
	padding-bottom: 5px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.footer{border-top: 1px solid #e5e5e5;
padding-top: 20px;
margin-top: 30px;}
.text-muted{padding-top: 12px;}

.bs-callout {
padding: 10px 10px 10px 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}
.bs-callout-info {
border-left-color:#1C67AC;
}
.caption h3{margin-top:5px;}
.caption table{ margin-bottom:5px;}
.cap_title{ margin-bottom:5px;}

.tab_zone{ margin-top:20px;}
.pagination.total_num{margin: 0 0;}

.p_table td{ text-align:center; line-height:30px; height:30px;width:20%;}
.p_table tbody tr:nth-child(odd) td{ background:#efefef;}
.well{ height:500px; overflow-y:scroll;}
.dialog{ position:absolute; top:0;left:0;z-index:9999;}
.mask{opacity:0.7;background:#000; position:absolute; }
.dia_zone{display: block;
padding: 10px;
margin: 0 0 10px;
font-size: 13px;
line-height: 20px;
background-color: #f5f5f5;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.15);
-webkit-border-radius: 4px; position:absolute;
-moz-border-radius: 4px;
border-radius: 4px; width:600px; z-index:99999; }
.close{ display: block;
position: absolute;
right: -25px;
top: 10px;
width: 50px;
height: 30px;
background: url(../images/close.png) no-repeat;}
.dia_zone table{ display:table; width:100%;}
.dia_zone table tbody{ display:block;width:100%;}
.dia_zone table td{width:200px;  text-align:center;}


.fn-gantt .g_red {
background-color:#f9c2c3;
}

.fn-gantt .g_red_d {
background-color:#A21517;
}
.fn-gantt .g_blue {
background-color: #5A75AB;
}
.fn-gantt .g_blue_d {
background-color:#99DBF3;
}
.fn-gantt .g_gray {
background-color:#C8C4C4;
}
.fn-gantt .g_gray_d {
background-color:#4B4646;
}
.fn-gantt .g_green {
background-color:#BFFBB8;
}
.fn-gantt .g_green_d {
background-color:#312F2F;
}
.fn-gantt .g_pink {
background-color:#FBC5E8;
}
.fn-gantt .g_pink_d {
background-color:#78306B;
}
.fn-gantt .g_brown {
background-color:#4E2929;
}
.fn-gantt .g_brown_d {
background-color:#967374;
}
.fn-gantt .g_orange {
background-color:#E9AE80;
}
.fn-gantt .g_orange_d {
background-color:#E8500B;
}
.fn-gantt .g_purple  {
background-color: #fca9f7;
}
.fn-gantt .g_purple_d {
background-color: #551351;
}
.fn-gantt .g_red .fn-label,
.fn-gantt .g_blue .fn-label,
.fn-gantt .g_gray .fn-label,
.fn-gantt .g_green .fn-label,
.fn-gantt .g_pink .fn-label,
.fn-gantt .g_brown .fn-label,
.fn-gantt .g_orange .fn-label,
.fn-gantt .g_purple .fn-label,
{
color: #000 !important;
}
.fn-gantt .g_red_d .fn-label,
.fn-gantt .g_blue_d .fn-label,
.fn-gantt .g_gray_d .fn-label,
.fn-gantt .g_green_d .fn-label,
.fn-gantt .g_pink_d .fn-label,
.fn-gantt .g_brown_d .fn-label,
.fn-gantt .g_orange_d .fn-label,
.fn-gantt .g_purple_D .fn-label,
{
color: #fff !important;
}